Repository utilitywarehouse/design-systems, pull requests merged in 2024-10, with the labels that each got.

#532 Update typeroots
  packages/web-ui/package.json
  packages/web-ui/src/Alert/Alert.props.ts
  packages/web-ui/tsconfig.json
  pnpm-lock.yaml
Labels: web-ui

#533 Add `create-component` script
  packages/web-ui/package.json
  packages/web-ui/scripts/create-components.cjs
  packages/web-ui/scripts/helpers.cjs
  packages/web-ui/scripts/utils.cjs
  packages/web-ui/src/components/Divider/Divider.props.ts
  packages/web-ui/templates/component.tsx
  packages/web-ui/templates/docs.mdx
  packages/web-ui/templates/props.ts
  packages/web-ui/templates/stories.tsx
  pnpm-lock.yaml
Labels: enhancement, web-ui

#535 add `Alert` code connect
  packages/web-ui/src/components/Alert/Alert.figma.tsx
Labels: web-ui

#536 add `Badge` code connect
  packages/web-ui/src/components/Badge/Badge.figma.tsx
  packages/web-ui/src/components/Button/Button.figma.tsx
Labels: web-ui

#542 chore: add `native-ui` changesets
  .changeset/cuddly-pandas-check.md
  .changeset/flat-mice-exist.md
  .changeset/four-rings-jam.md
  .changeset/funny-ears-attack.md
  .changeset/giant-bags-grab.md
  .changeset/good-scissors-tell.md
  .changeset/rare-hornets-cry.md
  .changeset/rude-sloths-mate.md
  .changeset/soft-books-guess.md
  .changeset/stale-ducks-complain.md
  .changeset/tall-eyes-add.md
  .changeset/two-donuts-drum.md
Labels: native-ui

#546 feat: add text decoration utility style props to `Text` component
  .changeset/few-wasps-teach.md
  packages/native-ui/src/components/Text/Text.props.ts
  packages/native-ui/src/components/Text/Text.tsx
Labels: enhancement, native-ui

#561 fix: `Heading` alignment [skip-native]
  .changeset/pretty-brooms-push.md
  packages/native-ui/src/components/Heading/Heading.props.ts
  packages/native-ui/src/components/Heading/Heading.tsx
  packages/native-ui/src/components/Text/Text.props.ts
  packages/native-ui/src/components/Text/Text.tsx
Labels: bug, native-ui

#566 fix `@mui` deps
  .changeset/wild-hairs-behave.md
  packages/colour-system/.gitignore
  packages/web-ui/package.json
  pnpm-lock.yaml
Labels: web-ui

#573 fix outline Button heights
  .changeset/few-gorillas-hear.md
  packages/web-ui/src/components/BaseButton/BaseButton.tsx
Labels: bug, web-ui

#582 add code connect to Radio components
  packages/web-ui/src/components/Radio/Radio.figma.tsx
  packages/web-ui/src/components/RadioGroup/RadioGroup.figma.tsx
  packages/web-ui/src/components/RadioTile/RadioTile.figma.tsx
Labels: web-ui

#583 add code connect to Divider
  packages/web-ui/src/components/Divider/Divider.figma.tsx
Labels: web-ui

#555 refactor: lab `Actionsheet` styles
  .changeset/two-mails-fold.md
  apps/native-ui-storybook/App.tsx
  apps/native-ui-storybook/components/lab/Actionsheet/Actionsheet.docs.mdx
  apps/native-ui-storybook/components/lab/Actionsheet/Actionsheet.stories.tsx
  apps/native-ui-storybook/components/lab/Actionsheet/components/AdvancedActionsheet.tsx
  apps/native-ui-storybook/components/lab/Actionsheet/components/index.ts
  apps/native-ui-storybook/package.json
  packages/native-ui/package.json
  packages/native-ui/src/components/Radio/RadioIcon.tsx
  packages/native-ui/src/lab/Actionsheet/Actionsheet.context.ts
  packages/native-ui/src/lab/Actionsheet/Actionsheet.figma.tsx
  packages/native-ui/src/lab/Actionsheet/Actionsheet.props.ts
  packages/native-ui/src/lab/Actionsheet/Actionsheet.tsx
  packages/native-ui/src/lab/Actionsheet/ActionsheetBackdrop.tsx
  packages/native-ui/src/lab/Actionsheet/ActionsheetContent.tsx
  packages/native-ui/src/lab/Actionsheet/ActionsheetDragIndicator.tsx
  packages/native-ui/src/lab/Actionsheet/ActionsheetDragIndicatorWrapper.tsx
  packages/native-ui/src/lab/Actionsheet/index.ts
  packages/native-ui/src/lab/index.ts
  pnpm-lock.yaml
Labels: native-ui

#569 chore: add `forwardRef` to components
  .changeset/eighty-chefs-fold.md
  packages/native-ui/components/Icon/Icon.d.ts
  packages/native-ui/components/Icon/Icon.js
  packages/native-ui/components/Icon/Icon.props.d.ts
  packages/native-ui/components/Icon/Icon.props.js
  packages/native-ui/components/Icon/index.d.ts
  packages/native-ui/components/Icon/index.js
  packages/native-ui/src/components/Alert/Alert.tsx
  packages/native-ui/src/components/Alert/AlertCloseButton.tsx
  packages/native-ui/src/components/Alert/AlertIcon.tsx
  packages/native-ui/src/components/Alert/AlertIconButton.tsx
  packages/native-ui/src/components/Alert/AlertLink.tsx
  packages/native-ui/src/components/Alert/AlertText.tsx
  packages/native-ui/src/components/Alert/AlertTitle.tsx
  packages/native-ui/src/components/Badge/Badge.tsx
  packages/native-ui/src/components/Badge/BadgeText.tsx
  packages/native-ui/src/components/Button/Button.tsx
  packages/native-ui/src/components/Button/ButtonGroup.tsx
  packages/native-ui/src/components/Button/ButtonGroupRoot.tsx
  packages/native-ui/src/components/Button/ButtonIcon.tsx
  packages/native-ui/src/components/Button/ButtonRoot.tsx
  packages/native-ui/src/components/Button/ButtonSpinner.tsx
  packages/native-ui/src/components/Button/ButtonText.tsx
  packages/native-ui/src/components/Heading/Heading.tsx
  packages/native-ui/src/components/Icon/Icon.tsx
  packages/native-ui/src/components/IconButton/IconButton.tsx
  packages/native-ui/src/components/IconButton/IconButtonIcon.tsx
  packages/native-ui/src/components/IconButton/IconButtonRoot.tsx
  packages/native-ui/src/components/IconButton/IconButtonSpinner.tsx
  packages/native-ui/src/components/Skeleton/Skeleton.tsx
  packages/native-ui/src/components/Spinner/Spinner.props.ts
  packages/native-ui/src/components/Spinner/Spinner.tsx
  packages/native-ui/src/types/refs.ts
Labels: native-ui

#590 chore: add all comonent docs
  apps/native-ui-storybook/.storybook/preview.tsx
  apps/native-ui-storybook/components/Icon/Icon.docs.mdx
  apps/native-ui-storybook/components/Icon/Icon.tsx
  apps/native-ui-storybook/docs/components/AllComponents.tsx
  apps/native-ui-storybook/docs/components/index.ts
  apps/native-ui-storybook/docs/deprecated/styling/color-mode.mdx
  apps/native-ui-storybook/docs/deprecated/styling/components/GSExample.tsx
  apps/native-ui-storybook/docs/deprecated/styling/components/RNExample.tsx
  apps/native-ui-storybook/docs/deprecated/styling/descendants.mdx
  apps/native-ui-storybook/docs/deprecated/styling/fonts.mdx
  apps/native-ui-storybook/docs/deprecated/styling/overview.mdx
  apps/native-ui-storybook/docs/deprecated/styling/platform-specific.mdx
  apps/native-ui-storybook/docs/deprecated/styling/responsive.mdx
  apps/native-ui-storybook/docs/deprecated/styling/state.mdx
  apps/native-ui-storybook/docs/deprecated/styling/utility-props.mdx
  apps/native-ui-storybook/docs/deprecated/unstyled.mdx
  apps/native-ui-storybook/docs/native-ui/all-components.mdx
  packages/native-ui/src/components/Input/InputField.tsx
  packages/native-ui/src/lab/Actionsheet/Actionsheet.tsx
  packages/native-ui/src/lab/Actionsheet/ActionsheetContent.tsx
Labels: native-ui

#591 feat(native-ui): add `Divider` component
  .changeset/three-buttons-pump.md
  .changeset/three-weeks-shave.md
  apps/native-ui-storybook/.storybook/preview.tsx
  apps/native-ui-storybook/components/Alert/Variants.tsx
  apps/native-ui-storybook/components/Divider/Divider.docs.mdx
  apps/native-ui-storybook/components/Divider/Divider.stories.tsx
  apps/native-ui-storybook/components/Divider/Divider.tsx
  apps/native-ui-storybook/components/List/List.docs.mdx
  apps/native-ui-storybook/components/List/List.tsx
  apps/native-ui-storybook/components/Text/Text.tsx
  apps/native-ui-storybook/docs/components/AllComponents.tsx
  apps/native-ui-storybook/docs/components/AllComponents.web.tsx
  packages/native-ui/package.json
  packages/native-ui/src/components/Divider/Divider.figma.tsx
  packages/native-ui/src/components/Divider/Divider.props.ts
  packages/native-ui/src/components/Divider/Divider.tsx
  packages/native-ui/src/components/Divider/index.ts
  packages/native-ui/src/components/FormField/FormFielInvalidIcon.tsx
  packages/native-ui/src/components/FormField/FormFieldValidIcon.tsx
  packages/native-ui/src/components/List/List.context.ts
  packages/native-ui/src/components/List/List.props.ts
  packages/native-ui/src/components/List/List.tsx
  packages/native-ui/src/components/List/ListItem/ListItem.props.ts
  packages/native-ui/src/components/List/ListItem/ListItemRoot.tsx
  packages/native-ui/src/components/index.ts
  pnpm-lock.yaml
Labels: new component, native-ui, waiting: design review
