Repository utilitywarehouse/design-systems, pull requests merged in 2024-08, with the labels that each got.

#433 Replace Link components
  .changeset/cold-spoons-taste.md
  .changeset/popular-pillows-appear.md
  .changeset/selfish-pears-prove.md
  .changeset/twenty-pans-crash.md
  packages/codemod/transforms/web-ui/v0/import-paths.js
  packages/codemod/transforms/web-ui/v1/__testfixtures__/update-lab-imports.input.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/update-lab-imports.output.tsx
  packages/codemod/transforms/web-ui/v1/__tests__/update-lab-imports.test.js
  packages/codemod/transforms/web-ui/v1/migration.js
  packages/codemod/transforms/web-ui/v1/update-lab-imports.js
  packages/web-ui/docs/web-ui/guides/migration/v1.mdx
  packages/web-ui/src/Alert/AlertLink.tsx
  packages/web-ui/src/Link/Link.docs.mdx
  packages/web-ui/src/Link/Link.props.ts
  packages/web-ui/src/Link/Link.stories.tsx
  packages/web-ui/src/Link/Link.tsx
  packages/web-ui/src/Link/index.ts
  packages/web-ui/src/TextLink/TextLink.docs.mdx
  packages/web-ui/src/TextLink/TextLink.props.ts
  packages/web-ui/src/TextLink/TextLink.stories.tsx
  packages/web-ui/src/TextLink/TextLink.tsx
  packages/web-ui/src/TextLink/index.ts
  packages/web-ui/src/lab/Button/Button.docs.mdx
  packages/web-ui/src/lab/Link/Link.docs.mdx
  packages/web-ui/src/lab/Link/Link.stories.tsx
  packages/web-ui/src/lab/Link/Link.tsx
  packages/web-ui/src/lab/Link/index.ts
  packages/web-ui/src/lab/TextLink/TextLink.docs.mdx
  packages/web-ui/src/lab/TextLink/TextLink.stories.tsx
  packages/web-ui/src/lab/TextLink/TextLink.tsx
  packages/web-ui/src/lab/TextLink/index.ts
  packages/web-ui/src/lab/index.ts
  packages/web-ui/src/storybook-utils/DocsHeader.tsx
  packages/web-ui/src/theme/theme.ts
Labels: web-ui, v1, breaking change

#437 Add codemod to update `Typography` components
  .changeset/selfish-spiders-shop.md
  packages/codemod/transforms/web-ui/v1/__testfixtures__/typography-to-heading-and-text.input.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/typography-to-heading-and-text.output.tsx
  packages/codemod/transforms/web-ui/v1/__tests__/typography-to-heading-and-text.test.js
  packages/codemod/transforms/web-ui/v1/migration.js
  packages/codemod/transforms/web-ui/v1/typography-to-heading-and-text.js
  packages/web-ui/docs/web-ui/guides/migration/v1.mdx
Labels: codemod

#440 fix: inverted and outline button contrast
  .changeset/olive-roses-end.md
  .github/workflows/code-connect.yml
  packages/native-ui/src/config/theme/helpers/Button.ts
Labels: enhancement, native-ui

#441 fix: set default icons stroke width to 0
  .changeset/kind-donuts-brush.md
  packages/native-ui/src/config/theme/Icon.ts
Labels: bug, native-ui

#443 Deprecate `Stack`
  .changeset/itchy-mugs-fry.md
  packages/web-ui/src/Stack/Stack.tsx
Labels: web-ui, v1

#444 add migration docs
  packages/web-ui/docs/web-ui/guides/migration/v1.mdx
Labels: web-ui, v1

#445 Deprecate `Grid` component
  .changeset/quick-coats-push.md
  packages/web-ui/docs/web-ui/guides/migration/v1.mdx
  packages/web-ui/src/Grid/Grid.tsx
Labels: web-ui, v1

#447 Replace `Button` component
  .changeset/ninety-cherries-promise.md
  packages/web-ui/src/Alert/Alert.stories.tsx
  packages/web-ui/src/Button/Button.docs.mdx
  packages/web-ui/src/Button/Button.props.ts
  packages/web-ui/src/Button/Button.stories.tsx
  packages/web-ui/src/Button/Button.tsx
  packages/web-ui/src/Button/index.ts
  packages/web-ui/src/index.ts
  packages/web-ui/src/lab/Button/Button.docs.mdx
  packages/web-ui/src/lab/Button/Button.stories.tsx
  packages/web-ui/src/lab/Button/Button.tsx
  packages/web-ui/src/lab/Button/index.ts
  packages/web-ui/src/lab/index.ts
  packages/web-ui/src/storybook-utils/DocsHeader.tsx
  packages/web-ui/src/theme/theme.ts
  packages/web-ui/src/types/overrides.ts
Labels: web-ui, v1, breaking change

#448 fix Link component asChild
  .changeset/breezy-bears-stare.md
  packages/web-ui/src/Link/Link.tsx
Labels: bug, web-ui, v1

#453 update ci checks
  .github/workflows/checks.yml
  package.json
Labels: bug, housekeeping

#450 feat: simplified `Badge` api
  .changeset/plenty-otters-visit.md
  apps/native-ui-storybook/components/Badge/Badge.docs.mdx
  apps/native-ui-storybook/components/Badge/Badge.tsx
  apps/native-ui-storybook/components/Badge/Variants.tsx
  apps/native-ui-storybook/figma-connect/Badge.figma.tsx
  packages/native-ui/src/components/Badge/Badge.tsx
  packages/native-ui/src/components/Badge/index.ts
  packages/native-ui/src/components/index.ts
  packages/native-ui/src/config/theme/Badge.ts
Labels: enhancement, native-ui

#454 fix: `Spinner` stroke widths
  .changeset/healthy-jars-act.md
  packages/native-ui/src/components/Spinner/Spinner.props.ts
  packages/native-ui/src/components/Spinner/Spinner.tsx
  packages/native-ui/src/components/Spinner/Spinner.utils.ts
  packages/native-ui/src/components/Spinner/Spinner.web.tsx
  packages/native-ui/src/components/Spinner/index.ts
Labels: enhancement, native-ui

#456 Add Button codemods
  .changeset/hip-wasps-yell.md
  packages/codemod/transforms/web-ui/v1/__testfixtures__/migrate-button-href.input.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/migrate-button-href.output.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/migrate-button-size.input.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/migrate-button-size.output.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/migrate-button-variant.input.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/migrate-button-variant.output.tsx
  packages/codemod/transforms/web-ui/v1/__tests__/migrate-button.test.js
  packages/codemod/transforms/web-ui/v1/migrate-button.js
  packages/codemod/transforms/web-ui/v1/migration.js
  packages/web-ui/docs/web-ui/guides/migration/v1.mdx
Labels: DO NOT MERGE

#461 remove stray export
  .changeset/real-queens-count.md
  packages/web-ui/src/BaseCheckboxGroup/BaseCheckboxGroup.tsx
Labels: bug, web-ui

#463 add Button migration docs
  packages/web-ui/docs/web-ui/guides/migration/v1.mdx
Labels: documentation, web-ui, v1

#465 refactor typography overrides
  .changeset/curly-tools-dance.md
  packages/web-ui/docs/web-ui/guides/migration/v1.mdx
  packages/web-ui/src/types/overrides.ts
Labels: web-ui, v1, breaking change

#467 remove isBrandBackground from Box context
  .changeset/late-socks-tie.md
  packages/web-ui/src/Box/Box.context.ts
Labels: web-ui, v1, breaking change

#468 Fix Links text-wrapping issue
  .changeset/dry-rules-hunt.md
  packages/web-ui/src/Link/Link.docs.mdx
  packages/web-ui/src/Link/Link.stories.tsx
  packages/web-ui/src/Link/Link.tsx
  packages/web-ui/src/TextLink/TextLink.docs.mdx
  packages/web-ui/src/TextLink/TextLink.stories.tsx
  packages/web-ui/src/TextLink/TextLink.tsx
Labels: web-ui, v1

#471 add docs re. npm aliasing
  packages/web-ui/docs/web-ui/guides/migration/v1.mdx
Labels: web-ui, v1

#475 chore: add `Button` design guidelines
  apps/native-ui-storybook/components/Button/Guidelines.docs.mdx
  apps/native-ui-storybook/components/Button/assets/cyan.png
  apps/native-ui-storybook/components/Button/assets/default.png
  apps/native-ui-storybook/components/Button/assets/disabled.png
  apps/native-ui-storybook/components/Button/assets/figma-defaults.png
  apps/native-ui-storybook/components/Button/assets/ghost-example-1.png
  apps/native-ui-storybook/components/Button/assets/ghost-example-2.png
  apps/native-ui-storybook/components/Button/assets/gold.png
  apps/native-ui-storybook/components/Button/assets/green.png
  apps/native-ui-storybook/components/Button/assets/grey.png
  apps/native-ui-storybook/components/Button/assets/icons.png
  apps/native-ui-storybook/components/Button/assets/inverted-false.png
  apps/native-ui-storybook/components/Button/assets/inverted-true-1.png
  apps/native-ui-storybook/components/Button/assets/inverted-true-example.png
  apps/native-ui-storybook/components/Button/assets/large.png
  apps/native-ui-storybook/components/Button/assets/loading.png
  apps/native-ui-storybook/components/Button/assets/medium.png
  apps/native-ui-storybook/components/Button/assets/outline-example.png
  apps/native-ui-storybook/components/Button/assets/outline.png
  apps/native-ui-storybook/components/Button/assets/overrides.png
  apps/native-ui-storybook/components/Button/assets/pressed.png
  apps/native-ui-storybook/components/Button/assets/red.png
  apps/native-ui-storybook/components/Button/assets/size-spacing.png
  apps/native-ui-storybook/components/Button/assets/small.png
  apps/native-ui-storybook/components/Button/assets/solid.png
  apps/native-ui-storybook/components/Button/assets/theme-example.png
Labels: documentation, native-ui
