Repository utilitywarehouse/design-systems, pull requests merged in 2024-09, with the labels that each got.

#469 feat: use `react-native-unistyles` for styling
  .changeset/modern-kings-kneel.md
  .changeset/pink-pugs-act.md
  .changeset/swift-mirrors-marry.md
  apps/native-ui-storybook/App.tsx
  apps/native-ui-storybook/components/Alert/Alert.docs.mdx
  apps/native-ui-storybook/components/Alert/Alert.tsx
  apps/native-ui-storybook/components/List/List.docs.mdx
  apps/native-ui-storybook/eas.json
  apps/native-ui-storybook/package.json
  packages/native-ui/package.json
  packages/native-ui/src/components/Alert/Alert.context.ts
  packages/native-ui/src/components/Alert/Alert.props.ts
  packages/native-ui/src/components/Alert/Alert.tsx
  packages/native-ui/src/components/Alert/AlertCloseButton.tsx
  packages/native-ui/src/components/Alert/AlertCloseButton/config.json
  packages/native-ui/src/components/Alert/AlertCloseButton/index.tsx
  packages/native-ui/src/components/Alert/AlertCloseButton/styled-components/Icon.tsx
  packages/native-ui/src/components/Alert/AlertCloseButton/styled-components/Root.tsx
  packages/native-ui/src/components/Alert/AlertIcon.tsx
  packages/native-ui/src/components/Alert/AlertIconButton.tsx
  packages/native-ui/src/components/Alert/AlertIconButton/config.json
  packages/native-ui/src/components/Alert/AlertIconButton/index.tsx
  packages/native-ui/src/components/Alert/AlertIconButton/styled-components/Chevron.tsx
  packages/native-ui/src/components/Alert/AlertIconButton/styled-components/Root.tsx
  packages/native-ui/src/components/Alert/AlertIconButton/styled-components/index.tsx
  packages/native-ui/src/components/Alert/AlertLink.tsx
  packages/native-ui/src/components/Alert/AlertLink/config.json
  packages/native-ui/src/components/Alert/AlertLink/index.tsx
  packages/native-ui/src/components/Alert/AlertLink/styled-components/Icon.tsx
  packages/native-ui/src/components/Alert/AlertLink/styled-components/Root.tsx
  packages/native-ui/src/components/Alert/AlertLink/styled-components/Text.tsx
  packages/native-ui/src/components/Alert/AlertLink/styled-components/index.tsx
  packages/native-ui/src/components/Alert/AlertText.tsx
  packages/native-ui/src/components/Alert/AlertTitle.tsx
  packages/native-ui/src/components/Alert/AlertTitle/config.json
  packages/native-ui/src/components/Alert/AlertTitle/index.tsx
  packages/native-ui/src/components/Alert/AlertTitle/styled-components/Root.tsx
  packages/native-ui/src/components/Alert/AlertTitle/styled-components/index.tsx
  packages/native-ui/src/components/Alert/index.ts
  packages/native-ui/src/components/Badge/Badge.context.ts
  packages/native-ui/src/components/Badge/Badge.props.ts
  packages/native-ui/src/components/Badge/Badge.tsx
  packages/native-ui/src/components/Badge/BadgeText.tsx
  packages/native-ui/src/components/Badge/index.ts
  packages/native-ui/src/components/Icon/Icon.props.ts
  packages/native-ui/src/components/Icon/Icon.tsx
  packages/native-ui/src/components/Icon/index.tsx
  packages/native-ui/src/components/index.ts
  packages/native-ui/src/core/NativeUIProvider.tsx
  packages/native-ui/src/core/breakpoints.ts
  packages/native-ui/src/core/index.ts
  packages/native-ui/src/core/themes.ts
  pnpm-lock.yaml
  turbo.json
Labels: enhancement, native-ui

#474 feat: lab `Box` component
  .changeset/silent-planes-taste.md
  apps/native-ui-storybook/components/Box/Box.docs.mdx
  apps/native-ui-storybook/components/Box/Box.tsx
  apps/native-ui-storybook/components/lab/Actionsheet/Actionsheet.docs.mdx
  apps/native-ui-storybook/components/lab/Box/Box.docs.mdx
  apps/native-ui-storybook/components/lab/Box/Box.stories.tsx
  apps/native-ui-storybook/components/lab/Box/Box.tsx
  packages/native-ui/.gitignore
  packages/native-ui/package.json
  packages/native-ui/src/components/index.ts
  packages/native-ui/src/core/NativeUIProvider.tsx
  packages/native-ui/src/core/index.ts
  packages/native-ui/src/core/themes.ts
  packages/native-ui/src/core/types.ts
  packages/native-ui/src/lab/Box/Box.props.ts
  packages/native-ui/src/lab/Box/Box.tsx
  packages/native-ui/src/lab/Box/index.ts
  packages/native-ui/src/lab/index.ts
  packages/native-ui/tsconfig.lab.json
Labels: enhancement, new component, native-ui

#489 fix: strong gold `Badge` dark mode text colour
  .changeset/dirty-months-confess.md
  packages/native-ui/src/components/Badge/BadgeText.tsx
Labels: bug, native-ui

#492 Implement `TextLink` visual updates
  .changeset/silver-toys-pump.md
  packages/web-ui/src/TextLink/TextLink.docs.mdx
  packages/web-ui/src/TextLink/TextLink.stories.tsx
  packages/web-ui/src/TextLink/TextLink.tsx
Labels: web-ui

#501 add sx gotcha docs
  packages/web-ui/docs/web-ui/guides/styling.mdx
Labels: documentation, web-ui

#496 refactor: `Button` component styling
  .github/workflows/previews.yml
  apps/native-ui-storybook/components/Button/Button.docs.mdx
  packages/native-ui/package.json
  packages/native-ui/src/components/Alert/Alert.context.ts
  packages/native-ui/src/components/Button/Button.context.ts
  packages/native-ui/src/components/Button/Button.props.tsx
  packages/native-ui/src/components/Button/Button.tsx
  packages/native-ui/src/components/Button/ButtonGroup.context.ts
  packages/native-ui/src/components/Button/ButtonGroup.tsx
  packages/native-ui/src/components/Button/ButtonGroupRoot.tsx
  packages/native-ui/src/components/Button/ButtonIcon.tsx
  packages/native-ui/src/components/Button/ButtonIcon/config.json
  packages/native-ui/src/components/Button/ButtonIcon/index.tsx
  packages/native-ui/src/components/Button/ButtonIcon/styled-components/Root.tsx
  packages/native-ui/src/components/Button/ButtonIcon/styled-components/index.tsx
  packages/native-ui/src/components/Button/ButtonRoot.tsx
  packages/native-ui/src/components/Button/ButtonSpinner.tsx
  packages/native-ui/src/components/Button/ButtonSpinner/ButtonSpinner.tsx
  packages/native-ui/src/components/Button/ButtonSpinner/index.tsx
  packages/native-ui/src/components/Button/ButtonText.tsx
  packages/native-ui/src/components/Button/ButtonText/config.json
  packages/native-ui/src/components/Button/ButtonText/index.tsx
  packages/native-ui/src/components/Button/ButtonText/styled-components/Root.tsx
  packages/native-ui/src/components/Button/ButtonText/styled-components/index.tsx
  packages/native-ui/src/components/Button/index.ts
  packages/native-ui/src/components/Spinner/Spinner.props.ts
  packages/native-ui/src/components/Spinner/Spinner.tsx
  packages/native-ui/src/components/Spinner/Spinner.web.tsx
  packages/native-ui/src/components/Spinner/styled-components/Circle.ts
  packages/native-ui/src/components/Spinner/styled-components/Root.ts
  packages/native-ui/src/components/Spinner/styled-components/Svg.ts
  packages/native-ui/src/components/Spinner/styled-components/index.ts
  packages/native-ui/src/components/index.ts
  packages/native-ui/src/core/themes.ts
  pnpm-lock.yaml
Labels: native-ui

#488 refactor: `Radio` component styling
  apps/native-ui-storybook/.storybook/preview.tsx
  apps/native-ui-storybook/components/Radio/Radio.tsx
  packages/native-ui/package.json
  packages/native-ui/src/components/Icons/CircleIcon.tsx
  packages/native-ui/src/components/Icons/index.ts
  packages/native-ui/src/components/Radio/Radio.props.ts
  packages/native-ui/src/components/Radio/Radio.tsx
  packages/native-ui/src/components/Radio/RadioGroup.tsx
  packages/native-ui/src/components/Radio/RadioIcon.tsx
  packages/native-ui/src/components/Radio/RadioIndicator.tsx
  packages/native-ui/src/components/Radio/RadioLabel.tsx
  packages/native-ui/src/components/Radio/RadioRoot.tsx
  packages/native-ui/src/components/Radio/index.ts
  packages/native-ui/src/components/RadioIndicator/RadioIndicator.tsx
  packages/native-ui/src/components/RadioIndicator/index.ts
  packages/native-ui/src/components/index.ts
  packages/native-ui/src/types/index.ts
  packages/native-ui/src/types/states.ts
  pnpm-lock.yaml
Labels: native-ui

#497 Visual updates to `Link` component
  .changeset/modern-cooks-peel.md
  packages/web-ui/src/Link/Link.docs.mdx
  packages/web-ui/src/Link/Link.figma.tsx
  packages/web-ui/src/Link/Link.props.ts
  packages/web-ui/src/Link/Link.stories.tsx
  packages/web-ui/src/Link/Link.tsx
  packages/web-ui/src/Text/Text.docs.mdx
  packages/web-ui/src/Text/Text.tsx
Labels: web-ui, waiting: design review

#502 Visual updates to `Button` & `IconButton` components
  .changeset/strong-spoons-protect.md
  packages/web-ui/src/BaseButton/BaseButton.props.ts
  packages/web-ui/src/BaseButton/BaseButton.tsx
  packages/web-ui/src/Button/Button.docs.mdx
  packages/web-ui/src/Button/Button.stories.tsx
  packages/web-ui/src/Button/Button.tsx
  packages/web-ui/src/Button/figma/Button.ghost.figma.tsx
  packages/web-ui/src/Button/figma/Button.outline.figma.tsx
  packages/web-ui/src/Button/figma/Button.solid.figma.tsx
  packages/web-ui/src/IconButton/IconButton.docs.mdx
  packages/web-ui/src/IconButton/IconButton.stories.tsx
  packages/web-ui/src/IconButton/IconButton.tsx
  packages/web-ui/src/IconButton/figma/IconButton.ghost.figma.tsx
  packages/web-ui/src/IconButton/figma/IconButton.outline.figma.tsx
  packages/web-ui/src/IconButton/figma/IconButton.solid.figma.tsx
Labels: web-ui, waiting: design review
