Repository utilitywarehouse/design-systems, pull requests merged in 2024-07, with the labels that each got.

#389 update colour docs
  packages/web-ui/docs/colour-system/introduction.mdx
  packages/web-ui/docs/colour-system/migration.mdx
Labels: documentation

#390 update `Alert` a11y docs
  packages/web-ui/src/Alert/Alert.docs.mdx
  packages/web-ui/src/Alert/Alert.stories.tsx
  packages/web-ui/src/Alert/Alert.tsx
Labels: documentation, web-ui

#391 fix: dark colour intellisense and update docs
  .changeset/early-schools-dance.md
  apps/native-ui-storybook/docs/colour-system/introduction.mdx
  apps/native-ui-storybook/docs/colour-system/migration.mdx
  apps/native-ui-storybook/docs/native-ui/guides/styling/color-mode.mdx
  packages/native-ui/.npmignore
  packages/native-ui/package.json
  packages/native-ui/scripts/generateColours.js
  packages/native-ui/src/config/colors.ts
  packages/native-ui/src/config/gluestack-ui.config.ts
Labels: bug, documentation, native-ui

#394 Add media query helpers
  .changeset/thick-ducks-judge.md
  packages/web-ui/docs/web-ui/helpers/hooks.mdx
  packages/web-ui/docs/web-ui/helpers/media-queries.mdx
  packages/web-ui/docs/web-ui/helpers/tokens.mdx
  packages/web-ui/docs/web-ui/tokens/breakpoints.mdx
  packages/web-ui/docs/web-ui/tokens/typography.mdx
  packages/web-ui/src/utils/media-queries.ts
Labels: web-ui

#395 update Alert docs
  packages/web-ui/src/Alert/Alert.docs.mdx
  packages/web-ui/src/utils/media-queries.ts
Labels: documentation, web-ui

#370 Add `Checkbox` components
  .changeset/neat-rockets-drop.md
  .changeset/plenty-bats-happen.md
  .changeset/proud-cups-divide.md
  .changeset/twelve-buses-decide.md
  .changeset/weak-tips-fly.md
  packages/web-ui/package.json
  packages/web-ui/src/BaseCheckbox/BaseCheckbox.props.ts
  packages/web-ui/src/BaseCheckbox/BaseCheckbox.tsx
  packages/web-ui/src/BaseCheckbox/index.ts
  packages/web-ui/src/BaseCheckboxGroup/BaseCheckboxGroup.context.ts
  packages/web-ui/src/BaseCheckboxGroup/BaseCheckboxGroup.props.ts
  packages/web-ui/src/BaseCheckboxGroup/BaseCheckboxGroup.tsx
  packages/web-ui/src/BaseCheckboxGroup/index.ts
  packages/web-ui/src/BaseRadioGroup/BaseRadioGroup.tsx
  packages/web-ui/src/Checkbox/Checkbox.docs.mdx
  packages/web-ui/src/Checkbox/Checkbox.props.ts
  packages/web-ui/src/Checkbox/Checkbox.stories.tsx
  packages/web-ui/src/Checkbox/Checkbox.tsx
  packages/web-ui/src/Checkbox/index.ts
  packages/web-ui/src/CheckboxGridGroup/CheckboxGridGroup.props.ts
  packages/web-ui/src/CheckboxGridGroup/CheckboxGridGroup.stories.tsx
  packages/web-ui/src/CheckboxGridGroup/CheckboxGridGroup.tsx
  packages/web-ui/src/CheckboxGridGroup/index.ts
  packages/web-ui/src/CheckboxGroup/CheckboxGroup.docs.mdx
  packages/web-ui/src/CheckboxGroup/CheckboxGroup.props.ts
  packages/web-ui/src/CheckboxGroup/CheckboxGroup.stories.tsx
  packages/web-ui/src/CheckboxGroup/CheckboxGroup.tsx
  packages/web-ui/src/CheckboxGroup/index.ts
  packages/web-ui/src/CheckboxTile/CheckboxTile.docs.mdx
  packages/web-ui/src/CheckboxTile/CheckboxTile.props.ts
  packages/web-ui/src/CheckboxTile/CheckboxTile.stories.tsx
  packages/web-ui/src/CheckboxTile/CheckboxTile.tsx
  packages/web-ui/src/CheckboxTile/index.ts
  packages/web-ui/src/HelperText/HelperText.props.ts
  packages/web-ui/src/HelperText/HelperText.tsx
  packages/web-ui/src/Label/Label.props.ts
  packages/web-ui/src/Label/Label.tsx
  packages/web-ui/src/Radio/Radio.tsx
  packages/web-ui/src/RadioTile/RadioTile.tsx
  packages/web-ui/src/index.ts
  packages/web-ui/src/utils/css-selector-helpers.ts
  packages/web-ui/src/utils/data-attributes.ts
  pnpm-lock.yaml
Labels: new component, web-ui

#396 feat: Add `Actionsheet` lab component
  .changeset/new-knives-nail.md
  apps/native-ui-storybook/babel.config.js
  apps/native-ui-storybook/components/lab/Actionsheet/Actionsheet.docs.mdx
  apps/native-ui-storybook/components/lab/Actionsheet/Actionsheet.stories.tsx
  apps/native-ui-storybook/docs/native-ui/components/unstyled.mdx
  apps/native-ui-storybook/docs/native-ui/guides/tokens.mdx
  packages/native-ui/.gitignore
  packages/native-ui/package.json
  packages/native-ui/src/components/unstyled/index.ts
  packages/native-ui/src/config/gluestack-ui.config.ts
  packages/native-ui/src/config/theme/ActionsheetBackdrop.ts
  packages/native-ui/src/config/theme/ActionsheetContent.ts
  packages/native-ui/src/config/theme/ActionsheetDragIndicator.ts
  packages/native-ui/src/config/theme/ActionsheetIcon.ts
  packages/native-ui/src/config/theme/ActionsheetIndicatorWrapper.ts
  packages/native-ui/src/config/theme/ActionsheetItem.ts
  packages/native-ui/src/config/theme/ActionsheetItemText.ts
  packages/native-ui/src/config/theme/ActionsheetSectionHeaderText.ts
  packages/native-ui/src/config/theme/Heading.ts
  packages/native-ui/src/config/theme/index.ts
  packages/native-ui/src/lab/index.ts
  packages/native-ui/tsconfig.lab.json
  packages/native-ui/unstyled/index.js
Labels: new component, native-ui, lab

#400 Add `Text` and `Heading` components
  .changeset/blue-lemons-jump.md
  .changeset/brown-rules-wash.md
  .changeset/long-mugs-beg.md
  apps/native-ui-storybook/.storybook/preview.tsx
  apps/native-ui-storybook/components/Heading/Heading.docs.mdx
  apps/native-ui-storybook/components/Heading/Heading.stories.tsx
  apps/native-ui-storybook/components/Heading/Heading.tsx
  apps/native-ui-storybook/components/Heading/Variants.tsx
  apps/native-ui-storybook/components/Text/Text.docs.mdx
  apps/native-ui-storybook/components/Text/Text.stories.tsx
  apps/native-ui-storybook/components/Text/Text.tsx
  apps/native-ui-storybook/components/Text/Variants.tsx
  apps/native-ui-storybook/docs/components/VariantTitle.tsx
  apps/native-ui-storybook/docs/components/index.ts
  apps/native-ui-storybook/docs/native-ui/guides/tokens.mdx
  packages/native-ui/src/config/gluestack-ui.config.ts
  packages/native-ui/src/config/theme/Badge.ts
  packages/native-ui/src/config/theme/BadgeText.ts
  packages/native-ui/src/config/theme/Heading.ts
  packages/native-ui/src/config/theme/Text.ts
Labels: native-ui

#414 chore: update migration docs
  .github/workflows/previews-cleanup.yml
  .github/workflows/previews.yml
  apps/native-ui-storybook/docs/native-ui/guides/migration.mdx
Labels: documentation, native-ui

#418 Rename `large` Button size to `medium`
  .changeset/heavy-rats-cheat.md
  packages/web-ui/docs/web-ui/guides/migration/v1.mdx
  packages/web-ui/src/lab/Button/Button.docs.mdx
  packages/web-ui/src/lab/Button/Button.props.ts
  packages/web-ui/src/lab/Button/Button.stories.tsx
  packages/web-ui/src/lab/Button/Button.tsx
Labels: web-ui, v1, breaking change

#423 update docs
  packages/web-ui/src/Alert/Alert.docs.mdx
  packages/web-ui/src/Badge/Badge.docs.mdx
  packages/web-ui/src/Checkbox/Checkbox.docs.mdx
  packages/web-ui/src/CheckboxGridGroup/CheckboxGridGroup.docs.mdx
  packages/web-ui/src/CheckboxGroup/CheckboxGroup.docs.mdx
  packages/web-ui/src/CheckboxTile/CheckboxTile.docs.mdx
  packages/web-ui/src/Divider/Divider.docs.mdx
  packages/web-ui/src/Em/Em.docs.mdx
  packages/web-ui/src/Fieldset/Fieldset.docs.mdx
  packages/web-ui/src/FieldsetLegend/FieldsetLegend.docs.mdx
  packages/web-ui/src/Flex/Flex.docs.mdx
  packages/web-ui/src/Grid/Grid.docs.mdx
  packages/web-ui/src/Heading/Heading.docs.mdx
  packages/web-ui/src/HelperText/HelperText.docs.mdx
  packages/web-ui/src/IconButton/IconButton.docs.mdx
  packages/web-ui/src/Label/Label.docs.mdx
  packages/web-ui/src/Menu/Menu.docs.mdx
  packages/web-ui/src/RadioGridGroup/RadioGridGroup.docs.mdx
  packages/web-ui/src/RadioGroup/RadioGroup.docs.mdx
  packages/web-ui/src/Spacer/Spacer.docs.mdx
  packages/web-ui/src/Stack/Stack.docs.mdx
  packages/web-ui/src/Strong/Strong.docs.mdx
  packages/web-ui/src/Text/Text.docs.mdx
  packages/web-ui/src/TextField/TextField.docs.mdx
  packages/web-ui/src/ToggleButton/ToggleButton.docs.mdx
  packages/web-ui/src/UnstyledButton/UnstyledButton.docs.mdx
  packages/web-ui/src/lab/Button/Button.docs.mdx
  packages/web-ui/src/lab/Link/Link.docs.mdx
  packages/web-ui/src/lab/TextLink/TextLink.docs.mdx
Labels: documentation, web-ui, storybook

#420 Add codemod to update lab Button size
  .changeset/gold-llamas-develop.md
  packages/codemod/transforms/web-ui/v1/__testfixtures__/rename-lab-button-size-no-button-import.input.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/rename-lab-button-size-no-button-import.output.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/rename-lab-button-size-no-lab-import.input.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/rename-lab-button-size-no-lab-import.output.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/rename-lab-button-size-responsive.input.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/rename-lab-button-size-responsive.output.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/rename-lab-button-size.input.tsx
  packages/codemod/transforms/web-ui/v1/__testfixtures__/rename-lab-button-size.output.tsx
  packages/codemod/transforms/web-ui/v1/__tests__/rename-lab-button-size.test.js
  packages/codemod/transforms/web-ui/v1/migration.js
  packages/codemod/transforms/web-ui/v1/rename-lab-button-size.js
  packages/web-ui/docs/web-ui/guides/migration/v1.mdx
Labels: web-ui, v1, codemod

#424 chore: add Figma code connect
  apps/native-ui-storybook/figma-connect/Actionsheet.figma.tsx
  apps/native-ui-storybook/figma-connect/Alert.figma.tsx
  apps/native-ui-storybook/figma-connect/Badge.figma.tsx
  apps/native-ui-storybook/figma-connect/Button.figma.tsx
  apps/native-ui-storybook/figma-connect/Checkbox.figma.tsx
  apps/native-ui-storybook/figma-connect/CheckboxIndicator.figma.tsx
  apps/native-ui-storybook/figma-connect/IconButton.figma.tsx
  apps/native-ui-storybook/figma-connect/Radio.figma.tsx
  apps/native-ui-storybook/figma-connect/RadioIndicator.figma.tsx
  apps/native-ui-storybook/figma-connect/Spinner.figma.tsx
  apps/native-ui-storybook/package.json
  pnpm-lock.yaml
Labels: documentation, native-ui

#427 Update `ThemeProvider` usage & docs
  .changeset/popular-queens-exercise.md
  packages/web-ui/docs/web-ui/introduction.mdx
  packages/web-ui/src/Menu/Menu.docs.mdx
  packages/web-ui/src/Menu/Menu.stories.tsx
  packages/web-ui/src/Stack/Stack.docs.mdx
  packages/web-ui/src/Stack/Stack.stories.tsx
  packages/web-ui/src/TextField/TextField.docs.mdx
  packages/web-ui/src/TextField/TextField.stories.tsx
  packages/web-ui/src/TextField/TextField.tsx
  packages/web-ui/src/ToggleButton/ToggleButton.docs.mdx
  packages/web-ui/src/ToggleButton/ToggleButton.tsx
  packages/web-ui/src/ToggleButton/ToggleButtonGroup.stories.tsx
Labels: web-ui
