Repository utilitywarehouse/design-systems, pull requests merged in 2024-11, with the labels that each got.

#581 refactor(no-ticket): move className prop to Checkbox wrapper
  .changeset/quiet-shoes-invite.md
  packages/web-ui/src/components/Checkbox/Checkbox.tsx
Labels: web-ui

#595 fix(native-ui): small `Button` horizontal padding
  .changeset/weak-comics-guess.md
  packages/native-ui/src/components/Button/ButtonRoot.tsx
Labels: bug, native-ui

#594 feat: `Card` component
  .changeset/chilled-pigs-clap.md
  apps/native-ui-storybook/.storybook/preview.tsx
  apps/native-ui-storybook/components/Box/Box.docs.mdx
  apps/native-ui-storybook/components/Box/Box.stories.tsx
  apps/native-ui-storybook/components/Box/Box.tsx
  apps/native-ui-storybook/components/Box/BoxWithRef.tsx
  apps/native-ui-storybook/components/Card/Card.docs.mdx
  apps/native-ui-storybook/components/Card/Card.stories.tsx
  apps/native-ui-storybook/components/Card/Card.tsx
  apps/native-ui-storybook/components/Card/FigmaConsiderations.docs.mdx
  apps/native-ui-storybook/components/Card/Guidelines.docs.mdx
  apps/native-ui-storybook/components/Card/Variants.tsx
  apps/native-ui-storybook/components/Card/assets/all-detached.jpg
  apps/native-ui-storybook/components/Card/assets/card-example.jpg
  apps/native-ui-storybook/components/Card/assets/cards.jpg
  apps/native-ui-storybook/components/Card/assets/choose-local.jpg
  apps/native-ui-storybook/components/Card/assets/code-connect-2.jpg
  apps/native-ui-storybook/components/Card/assets/code-connect.jpg
  apps/native-ui-storybook/components/Card/assets/content-will-appear.jpg
  apps/native-ui-storybook/components/Card/assets/detached.jpg
  apps/native-ui-storybook/components/Card/assets/handoff.jpg
  apps/native-ui-storybook/components/Card/assets/have-detached.jpg
  apps/native-ui-storybook/components/Card/assets/kitten-sleeping-on-sofa.jpg
  apps/native-ui-storybook/components/Card/assets/local-card.jpg
  apps/native-ui-storybook/components/Card/assets/my-card-content.jpg
  apps/native-ui-storybook/components/Card/assets/screenshot.jpg
  apps/native-ui-storybook/components/Card/assets/swap.jpg
  apps/native-ui-storybook/components/Center/Center.stories.tsx
  apps/native-ui-storybook/components/HStack/HStack.stories.tsx
  apps/native-ui-storybook/components/HStack/HStackReversed.tsx
  apps/native-ui-storybook/components/Heading/Heading.tsx
  apps/native-ui-storybook/components/Icon/Icon.stories.tsx
  apps/native-ui-storybook/components/List/List.docs.mdx
  apps/native-ui-storybook/components/List/components/CheckboxList.tsx
  apps/native-ui-storybook/components/List/components/RadioList.tsx
  apps/native-ui-storybook/components/Skeleton/Skeleton.stories.tsx
  apps/native-ui-storybook/components/VStack/VStack.stories.tsx
  apps/native-ui-storybook/components/VStack/VStackReversed.tsx
  apps/native-ui-storybook/components/lab/Box/Box.stories.tsx
  apps/native-ui-storybook/components/lab/Box/BoxWithRef.tsx
  apps/native-ui-storybook/docs/components/AllComponents.web.tsx
  apps/native-ui-storybook/docs/components/ColorModeToggleIcons.tsx
  apps/native-ui-storybook/docs/components/HideInDarkMode.tsx
  apps/native-ui-storybook/docs/components/index.ts
  apps/native-ui-storybook/scripts/getArtifacts.js
  packages/native-ui/src/components/Card/Card.figma.tsx
  packages/native-ui/src/components/Card/Card.props.ts
  packages/native-ui/src/components/Card/Card.tsx
  packages/native-ui/src/components/Card/index.ts
  packages/native-ui/src/components/List/List.figma.tsx
  packages/native-ui/src/components/index.ts
  pnpm-lock.yaml
Labels: new component, native-ui

#597 refactor(native-ui): hooks away from gluestack
  .changeset/giant-moles-trade.md
  apps/native-ui-storybook/components/Button/Variants.tsx
  apps/native-ui-storybook/components/Button/components/ButtonVariants.tsx
  apps/native-ui-storybook/components/IconButton/Variants.tsx
  apps/native-ui-storybook/docs/native-ui/guides/hooks.mdx
  packages/native-ui/src/core/breakpoints.ts
  packages/native-ui/src/core/themes.ts
  packages/native-ui/src/hooks/index.ts
  packages/native-ui/src/hooks/useBreakpointValue.ts
  packages/native-ui/src/hooks/useColorMode.ts
  packages/native-ui/src/hooks/useMedia.ts
  packages/native-ui/src/hooks/useTheme.ts
  packages/native-ui/src/hooks/useToken.ts
Labels: native-ui

#608 feat(native-ui): `Switch` component
  .changeset/eight-hounds-prove.md
  .eslintrc.js
  .github/workflows/build-tokens.yml
  apps/native-ui-storybook/.storybook/preview.tsx
  apps/native-ui-storybook/components/List/List.docs.mdx
  apps/native-ui-storybook/components/List/components/SwitchList.tsx
  apps/native-ui-storybook/components/List/components/index.ts
  apps/native-ui-storybook/components/Switch/Guidelines.docs.mdx
  apps/native-ui-storybook/components/Switch/Switch.docs.mdx
  apps/native-ui-storybook/components/Switch/Switch.stories.tsx
  apps/native-ui-storybook/components/Switch/Switch.tsx
  apps/native-ui-storybook/components/Switch/Variants.tsx
  apps/native-ui-storybook/components/Switch/components/SwitchExample.tsx
  apps/native-ui-storybook/components/Switch/components/index.ts
  apps/native-ui-storybook/docs/components/AllComponents.web.tsx
  apps/native-ui-storybook/eas.json
  apps/native-ui-storybook/package.json
  packages/design-tokens/build/native/dark/tokens-dark.js
  packages/design-tokens/build/native/default/tokens-default.js
  packages/design-tokens/build/native/light/tokens-light.js
  packages/design-tokens/index.js
  packages/design-tokens/package.json
  packages/design-tokens/scripts/build.js
  packages/native-ui/package.json
  packages/native-ui/src/components/Label/Label.tsx
  packages/native-ui/src/components/Switch/Switch.props.ts
  packages/native-ui/src/components/Switch/Switch.tsx
  packages/native-ui/src/components/Switch/index.ts
  packages/native-ui/src/components/index.ts
  packages/native-ui/src/core/themes.ts
  pnpm-lock.yaml
Labels: new component, native-ui

#570 add `FormFieldGroup` components
  .changeset/twelve-plums-join.md
  packages/colour-system/tsconfig.json
  packages/web-ui/src/components/BaseCheckbox/index.ts
  packages/web-ui/src/components/BaseCheckboxGroup/BaseCheckboxGroup.context.ts
  packages/web-ui/src/components/BaseCheckboxGroup/BaseCheckboxGroup.props.ts
  packages/web-ui/src/components/BaseCheckboxGroup/index.ts
  packages/web-ui/src/components/BaseRadioGroup/BaseRadioGroup.context.ts
  packages/web-ui/src/components/BaseRadioGroup/BaseRadioGroup.props.ts
  packages/web-ui/src/components/BaseRadioGroup/BaseRadioGroup.tsx
  packages/web-ui/src/components/BaseRadioGroup/index.ts
  packages/web-ui/src/components/Checkbox/Checkbox.props.ts
  packages/web-ui/src/components/Checkbox/Checkbox.tsx
  packages/web-ui/src/components/CheckboxBase/CheckboxBase.props.ts
  packages/web-ui/src/components/CheckboxBase/CheckboxBase.tsx
  packages/web-ui/src/components/CheckboxBase/index.ts
  packages/web-ui/src/components/CheckboxGridGroup/CheckboxGridGroup.props.ts
  packages/web-ui/src/components/CheckboxGridGroup/CheckboxGridGroup.stories.tsx
  packages/web-ui/src/components/CheckboxGridGroup/CheckboxGridGroup.tsx
  packages/web-ui/src/components/CheckboxGridGroup/CheckboxGridGroupRoot.props.ts
  packages/web-ui/src/components/CheckboxGridGroup/CheckboxGridGroupRoot.tsx
  packages/web-ui/src/components/CheckboxGroup/CheckboxGroup.docs.mdx
  packages/web-ui/src/components/CheckboxGroup/CheckboxGroup.props.ts
  packages/web-ui/src/components/CheckboxGroup/CheckboxGroup.stories.tsx
  packages/web-ui/src/components/CheckboxGroup/CheckboxGroup.tsx
  packages/web-ui/src/components/CheckboxGroup/CheckboxGroupRoot.props.ts
  packages/web-ui/src/components/CheckboxGroup/CheckboxGroupRoot.tsx
  packages/web-ui/src/components/CheckboxGroupBase/CheckboxGroupBase.context.ts
  packages/web-ui/src/components/CheckboxGroupBase/CheckboxGroupBase.props.ts
  packages/web-ui/src/components/CheckboxGroupBase/CheckboxGroupBase.tsx
  packages/web-ui/src/components/CheckboxGroupBase/index.ts
  packages/web-ui/src/components/CheckboxTile/CheckboxTile.props.ts
  packages/web-ui/src/components/CheckboxTile/CheckboxTile.tsx
  packages/web-ui/src/components/Fieldset/Fieldset.stories.tsx
  packages/web-ui/src/components/FormFieldGroup/FormFieldGroup.context.ts
  packages/web-ui/src/components/FormFieldGroup/FormFieldGroup.docs.mdx
  packages/web-ui/src/components/FormFieldGroup/FormFieldGroup.props.ts
  packages/web-ui/src/components/FormFieldGroup/FormFieldGroup.stories.tsx
  packages/web-ui/src/components/FormFieldGroup/FormFieldGroup.tsx
  packages/web-ui/src/components/FormFieldGroup/index.ts
  packages/web-ui/src/components/Radio/Radio.tsx
  packages/web-ui/src/components/RadioGridGroup/RadioGridGroup.props.ts
  packages/web-ui/src/components/RadioGridGroup/RadioGridGroup.tsx
  packages/web-ui/src/components/RadioGridGroup/RadioGridGroupRoot.props.ts
  packages/web-ui/src/components/RadioGridGroup/RadioGridGroupRoot.tsx
  packages/web-ui/src/components/RadioGridGroup/index.ts
  packages/web-ui/src/components/RadioGroup/RadioGroup.docs.mdx
  packages/web-ui/src/components/RadioGroup/RadioGroup.props.ts
  packages/web-ui/src/components/RadioGroup/RadioGroup.stories.tsx
  packages/web-ui/src/components/RadioGroup/RadioGroup.tsx
  packages/web-ui/src/components/RadioGroup/RadioGroupRoot.props.ts
  packages/web-ui/src/components/RadioGroup/RadioGroupRoot.tsx
  packages/web-ui/src/components/RadioGroup/index.ts
  packages/web-ui/src/components/RadioTile/RadioTile.tsx
  packages/web-ui/src/components/index.ts
  packages/web-ui/src/storybook-components/Placeholder.tsx
  packages/web-ui/src/storybook-components/index.ts
Labels: web-ui
