Repository utilitywarehouse/design-systems, pull requests merged in 2024-06, with the labels that each got.

#360 Add `Badge`
  .changeset/lemon-keys-look.md
  packages/web-ui/src/Badge/Badge.docs.mdx
  packages/web-ui/src/Badge/Badge.props.ts
  packages/web-ui/src/Badge/Badge.stories.tsx
  packages/web-ui/src/Badge/Badge.tsx
  packages/web-ui/src/Badge/index.ts
  packages/web-ui/src/Text/Text.docs.mdx
  packages/web-ui/src/index.ts
  packages/web-ui/src/lab/Button/Button.docs.mdx
  packages/web-ui/src/utils/css-selector-helpers.ts
  packages/web-ui/src/utils/data-attributes.ts
Labels: new component

#378 `Text`: fix underlying element from div to p
  .changeset/lovely-walls-dress.md
  packages/web-ui/src/Heading/Heading.tsx
  packages/web-ui/src/Text/Text.props.ts
  packages/web-ui/src/Text/Text.tsx
Labels: bug, web-ui

#377 `lab/TextLink`: fix fontWeight
  .changeset/eight-cooks-report.md
  packages/web-ui/src/lab/TextLink/TextLink.tsx
Labels: bug, web-ui

#376 `Badge`: make compact prop responsive
  .changeset/great-onions-leave.md
  packages/web-ui/src/Badge/Badge.docs.mdx
  packages/web-ui/src/Badge/Badge.props.ts
  packages/web-ui/src/Badge/Badge.stories.tsx
  packages/web-ui/src/Badge/Badge.tsx
  packages/web-ui/src/utils/with-breakpoints.ts
Labels: enhancement, web-ui

#381 Radio updates from working on Checkbox
  .changeset/chatty-knives-reflect.md
  packages/web-ui/src/BaseRadioGroup/BaseRadioGroup.props.ts
  packages/web-ui/src/BaseRadioGroup/BaseRadioGroup.tsx
  packages/web-ui/src/HelperText/HelperText.tsx
  packages/web-ui/src/Radio/Radio.tsx
  packages/web-ui/src/RadioGridGroup/RadioGridGroup.props.ts
  packages/web-ui/src/RadioGridGroup/RadioGridGroup.stories.tsx
  packages/web-ui/src/RadioGroup/RadioGroup.docs.mdx
  packages/web-ui/src/RadioTile/RadioTile.tsx
  packages/web-ui/src/utils/columns.ts
Labels: web-ui

#383 refactor: `Alert` component icons and props
  .changeset/light-spoons-search.md
  apps/native-ui-storybook/components/Alert/Alert.docs.mdx
  apps/native-ui-storybook/components/Alert/Alert.tsx
  apps/native-ui-storybook/components/Alert/Variants.tsx
  packages/native-ui/package.json
  packages/native-ui/src/components/Alert/Alert.props.ts
  packages/native-ui/src/components/Alert/Alert.tsx
  packages/native-ui/src/components/Alert/AlertCloseButton/styled-components/Icon.tsx
  packages/native-ui/src/components/Alert/AlertIconButton/styled-components/Chevron.tsx
  packages/native-ui/src/components/Alert/AlertLink/styled-components/Icon.tsx
  packages/native-ui/src/config/theme/Alert.ts
  packages/native-ui/src/config/theme/AlertText.ts
  packages/native-ui/src/config/theme/helpers/Alert.ts
  packages/native-ui/src/config/theme/helpers/capitalise.ts
  pnpm-lock.yaml
Labels: documentation, enhancement, native-ui

#386 change button cursor to pointer
  .changeset/pink-peas-pull.md
  packages/web-ui/src/BaseButton/BaseButton.tsx
  packages/web-ui/src/UnstyledButton/UnstyledButton.tsx
Labels: enhancement, web-ui

#375 feat: `Alert` component
  .changeset/olive-horses-fold.md
  packages/web-ui/src/Alert/Alert.docs.mdx
  packages/web-ui/src/Alert/Alert.props.ts
  packages/web-ui/src/Alert/Alert.stories.tsx
  packages/web-ui/src/Alert/Alert.tsx
  packages/web-ui/src/Alert/AlertButton.tsx
  packages/web-ui/src/Alert/AlertLink.tsx
  packages/web-ui/src/Alert/AlertText.tsx
  packages/web-ui/src/Alert/AlertTitle.tsx
  packages/web-ui/src/Alert/index.ts
  packages/web-ui/src/index.ts
  packages/web-ui/src/types/color.ts
  packages/web-ui/src/utils/css-selector-helpers.ts
  packages/web-ui/src/utils/data-attributes.ts
Labels: new component, web-ui

#388 update TextLink component
  .changeset/chilled-bats-exist.md
  packages/web-ui/src/lab/Link/Link.docs.mdx
  packages/web-ui/src/lab/Link/Link.stories.tsx
  packages/web-ui/src/lab/TextLink/TextLink.docs.mdx
  packages/web-ui/src/lab/TextLink/TextLink.stories.tsx
  packages/web-ui/src/lab/TextLink/TextLink.tsx
Labels: web-ui
