Repository utilitywarehouse/design-systems, pull requests merged in 2024-12, with the labels that each got.

#641 Add space tokens to Web UI v2
  packages/react/src/components/Badge/Badge.css
  packages/react/src/components/Badge/Badge.props.ts
  packages/react/src/components/Badge/Badge.tsx
  packages/react/src/components/BodyText/BodyText.css
  packages/react/src/components/BodyText/BodyText.props.ts
  packages/react/src/components/BodyText/BodyText.stories.tsx
  packages/react/src/components/BodyText/BodyText.tsx
  packages/react/src/components/Box/Box.props.ts
  packages/react/src/components/Box/Box.stories.tsx
  packages/react/src/components/Box/Box.tsx
  packages/react/src/components/Button/Button.css
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Fieldset/Fieldset.tsx
  packages/react/src/components/Flex/Flex.props.ts
  packages/react/src/components/Flex/Flex.stories.tsx
  packages/react/src/components/Flex/Flex.tsx
  packages/react/src/components/FormFieldGroup/FormFieldGroup.tsx
  packages/react/src/components/Heading/Heading.css
  packages/react/src/components/Heading/Heading.props.ts
  packages/react/src/components/Heading/Heading.stories.tsx
  packages/react/src/components/Heading/Heading.tsx
  packages/react/src/components/IconButton/IconButton.props.ts
  packages/react/src/components/IconButton/IconButton.tsx
  packages/react/src/components/Link/Link.props.ts
  packages/react/src/components/Link/Link.tsx
  packages/react/src/components/RadioGridGroup/RadioGridGroup.css
  packages/react/src/components/RadioGridGroup/RadioGridGroup.props.ts
  packages/react/src/components/RadioGridGroup/RadioGridGroup.tsx
  packages/react/src/helpers/extract-props.ts
  packages/react/src/helpers/get-classname-styles.ts
  packages/react/src/helpers/is-responsive-object.ts
  packages/react/src/helpers/merge-styles.ts
  packages/react/src/helpers/with-breakpoint-styles.ts
  packages/react/src/helpers/with-breakpoints.ts
  packages/react/src/props/background-color.props.ts
  packages/react/src/props/color.props.ts
  packages/react/src/props/gap.props.ts
  packages/react/src/props/padding.props.ts
  packages/react/src/props/prop-def.ts
  packages/react/src/props/size.props.ts
  packages/react/src/props/text-align.props.ts
  packages/react/src/styles/gap.css
  packages/react/src/styles/index.css
  packages/react/src/styles/padding.css
  packages/react/src/styles/tokens/space.css
  packages/react/src/types/responsive.ts
Labels: web-ui v2

#642 chore: add perf test component and test Box
  apps/native-ui-storybook/components/TimedRender.tsx
  apps/native-ui-storybook/components/lab/Box/Box.stories.tsx
  apps/native-ui-storybook/components/lab/Box/BoxPerfTest.tsx
  packages/native-ui/src/lab/index.ts
Labels: native-ui

#657 add TextLink docs
  packages/react/docs/media-queries.mdx
  packages/react/src/components/BodyText/BodyText.docs.mdx
  packages/react/src/components/Divider/Divider.docs.mdx
  packages/react/src/components/TextLink/TextLink.docs.mdx
  packages/react/src/components/TextLink/TextLink.props.ts
Labels: ds-react

#658 add Badge docs
  packages/react/src/components/Badge/Badge.docs.mdx
  packages/react/src/components/Badge/Badge.props.ts
  packages/react/src/components/Badge/Badge.stories.tsx
Labels: ds-react

#660 add Fieldset docs
  packages/react/src/components/Em/Em.docs.mdx
  packages/react/src/components/Fieldset/Fieldset.docs.mdx
Labels: ds-react

#661 add FieldsetLegend docs
  packages/react/src/components/FieldsetLegend/FieldsetLegend.docs.mdx
Labels: ds-react
